Source: philsf-likes-desktop
Section: metapackages
Priority: optional
Maintainer: Felipe Figueiredo <philsf79@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.6.2
# Homepage: <insert the upstream URL, if relevant>
Vcs-Browser: https://code.launchpad.net/~philsf/+git/philsf-likes-desktop
Vcs-Git: https://git.launchpad.net/~philsf/+git/philsf-likes-desktop

Package: philsf-likes-desktop
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Recommends:
 calibre,
 shotwell | digikam,
 dropbox | nautilus-dropbox,
 gnome-online-accounts,
 zoom,
 teams,
 discord,
 libpam-fscrypt | ecryptfs-utils,
 gdebi | gnome-software,
 gnome-tweaks | gnome-tweak-tool,
 gnome-shell-extension-manager | gnome-shell-extension-prefs,
 gnome-shell-extension-places-menu,
 gnome-shell-extension-native-window-placement,
 gnome-browser-connector | chrome-gnome-shell,
 gnome-activity-journal,
 activity-log-manager,
 resources | gnome-system-monitor,
 ntfs-3g,
 software-properties-gtk,
 gnome-disk-utility,
 hardinfo,
 thermald,
 libreoffice-calc,
 libreoffice-impress,
 libreoffice-math,
 libreoffice-writer,
 language-pack-gnome-en,
 mythes-en-us,
 hyphen-en-us,
 libreoffice-help-en-us,
 libreoffice-lightproof-en,
 gnome-user-docs-pt,
 language-pack-gnome-pt,
 mythes-pt-br,
 hyphen-pt-br,
 libreoffice-help-pt-br,
 libreoffice-lightproof-pt-br,
 libreoffice-l10n-pt-br,
 smplayer | vlc | mplayer,
 nautilus-image-converter,
 nautilus-extension-gnome-terminal,
 pipewire-audio-client-libraries,
 seahorse-nautilus,
 rsync,
 smbclient,
 ssh,
 default-jre,
 linux-generic,
 ubuntu-desktop,
 ubuntu-minimal,
 ubuntu-standard,
 ubuntu-restricted-addons,
 ubuntu-restricted-extras,
 yt-dlp,
 warsaw,
Suggests:
 alien,
 aptitude,
 imagemagick,
 ffmpeg,
 libreoffice,
 ppa-purge,
 pmount,
 btop | htop,
 tlp,
 sqlite3 | sqlite3-doc,
 samba,
 skype | skypeforlinux,
Description: philsf's perfect Desktop environment
 Metapackage for a user-friendly Ubuntu desktop experience.
 .
 It provides quality-of-life utilities, desirable desktop applications,
 multimedia support, and essential security tools.
 Optimized for general-purpose GUI workstations and non-technical
 users.
