### Commented entries have reasonable defaults.
### Uncomment to edit them.
Source: philsf-likes-desktop
Section: metapackages
Priority: optional
Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Homepage: <enter URL here; no default>
Build-Depends: debhelper (>= 7), germinate
Standards-Version: 3.9.4

Package: philsf-likes-desktop
# Version: defaults to changelog version
# Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Pre-Depends: 
Depends: ${misc:Depends}
Recommends: acroread| adobereader-enu,
	    alien,
	    aptitude,
	    apt-file,
	    apt-zip,
	    byobu,
	    calibre,
	    colordiff,
	    curl,
	    dar,
	    discord,
	    dropbox | nautilus-dropbox | spideroak | wuala,
	    ecryptfs-utils,
	    elinks,
            gir1.2-clutter-1.0,
            gir1.2-gtop-2.0,
	    gnome-tweak-tool,
	    htop,
	    imagemagick,
	    language-pack-gnome-en,
	    language-pack-gnome-pt,
	    lsb,
	    linux-generic,
	    lynx,
	    mplayer2 | mplayer,
	    nautilus-image-converter,
	    nautilus-open-terminal,
	    pmount,
	    rename,
	    seahorse-nautilus,
	    rsync,
	    samba,
	    smbclient,
	    ssh,
	    oracle-java11-installer | oracle-java9-installer | oracle-java8-installer | default-jre,
            teams,
	    ubuntu-desktop,
	    ubuntu-minimal,
	    ubuntu-standard,
	    ubuntu-restricted-addons,
	    ubuntu-restricted-extras,
	    warsaw,
	    zoom,
Suggests: gimp,
	  easytag,
	  empathy,
	  everpad,
	  gdebi-core,
	  python-nautilus,
          skype | skypeforlinux,
	  sux,
	  synapse,
	  tomboy,
	  xchat-indicator,
	  telepathy-indicator,
	  whatsdesktop,
	  yakyak,
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
Architecture: all
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: Metapackage to install desktop related packages
 long description and info
 .
 second paragraph
