### Commented entries have reasonable defaults.
### Uncomment to edit them.
Source: philsf-likes-desktop
Section: metapackages
Priority: optional
Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Homepage: <enter URL here; no default>
Build-Depends: debhelper (>= 7), germinate
Standards-Version: 3.9.4

Package: philsf-likes-desktop
# Version: 0.1.2
# Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Pre-Depends: 
Depends: ${misc:Depends}
Recommends: acroread| adobereader-enu, 
	    alien, 
	    apt-file, 
	    apt-zip, 
	    byobu, 
	    calibre, 
	    colordiff, 
	    curl, 
	    dar, 
	    dropbox | nautilus-dropbox | spideroak | wuala,
	    easytag, 
	    elinks, 
	    everpad, 
	    gdebi-core,
	    htop, 
	    harden-clients, 
	    harden-environment,
	    imagemagick,
	    lsb, 
	    linux-generic, 
	    lynx, 
	    mplayer, 
	    nautilus-image-converter, 
	    nautilus-open-terminal, 
	    pmount,
	    skype, 
	    rsync, 
	    ssh, 
	    sun-java6-plugin, 
	    sux,
	    tomboy,
	    ubuntu-desktop, 
	    ubuntu-minimal, 
	    ubuntu-standard,
	    ubuntu-restricted-addons, 
	    ubuntu-restricted-extras,
	    xchat-indicator,
Suggests: gimp, 
	  synapse,
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
Architecture: all
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: Metapackage to install desktop related packages
 long description and info
 .
 second paragraph
